@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Manrope&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#details {
  z-index: 2;
  margin-left: 44vw;
  margin-top: 5vh;
  background-color: white;
  border-color: #443c68;
  border-radius: 1vw ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: content-box;
  height: 10vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Manrope';
}

#details p {
  margin: 0 2vw;
  overflow-x: hidden;
  font-family: 'Manrope';
}

table{
  position:absolute;
   left: 50%;
   margin-top: 260vh;
   transform: translate(-50%,-50%);
   width: 90vw;
   height: fit-content;
   border-collapse: collapse;
   border-spacing: 0;
   border-radius: 12px 12px 0 0;
   overflow: hidden;
   box-shadow: 0 5px 12px rgba(32,32,32,0.3);
   background: white;
   text-align: center;
}

thead{
  background: #443c68;
  color:aliceblue;
  font-family: 'Garamond';
}

tbody{
  font-family: 'Manrope';
  color:#443c68;
}
