* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#details {
  margin-left: 44vw;
  margin-top: 5vh;
  background-color: white;
  border-color: #443c68;
  border-radius: 1vw ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: content-box;
  height: 10vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#details p {
  margin: 0 2vw;
  overflow-x: hidden;
}

thead{
  display:flex;
  flex-direction: row;
}
